<style>
    md-progress-linear[md-mode="indeterminate"] .md-container {
        top:0px;
    }
</style>
<md-progress-linear ng-show="page.firstload"  md-mode="indeterminate"></md-progress-linear>
<md-toolbar layout="row" ng-if="!loginData.loggingIn" ng-hide="page.firstload">
    <div class="md-toolbar-tools">
        <md-button ng-click="ctrl.showMenu('left')" hide-gt-sm class="md-icon-button menuBtn">
            <ng-md-icon class="ic_24px" icon="menu" style="fill:white;"></ng-md-icon>
        </md-button>
        <img ng-src="{{user.image}}" class="md-whiteframe-z2" style="border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;"></img>
        {{user.name}}
    </div>
</md-toolbar>
<md-content layout="row" flex ng-if="!loginData.loggingIn" ng-hide="page.firstload" style="position:absolute;top:64px;bottom:0px;right:0px;left:0px;overflow:hidden;">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <menu style="padding: 0px;"/>
    </md-sidenav>
    <md-button ng-click="ctrl.showMenu('right')" class="md-fab" aria-label="Eat cake" style="right:0px; top:2em; right:2em; position:fixed">
        <ng-md-icon icon="play_arrow" size="40" style="fill:white;"></ng-md-icon>
    </md-button>
    <md-sidenav class="md-sidenav-right" md-component-id="right">
        <player/>
    </md-sidenav>
    <edit ng-show="edit.editing"/>
    <div flex style="height:100%; overflow:auto;" ng-view/>
</md-content>

<div class="login fade" flex ng-show="loginData.loggingIn"></div>
