/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}
.waiting-for-angular {
  display:none;
}

.view-fade.ng-enter, .view-fade.ng-leave {
  background: white;
  position: absolute;
}

.view-fade.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-fade.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/** GONG CSS */

.md-button.md-fab ng-md-icon svg{vertical-align: middle;}
md-backdrop.md-opaque{background-color: rgba(0,0,0,0.50);}
md-dialog {background-color: rgb(255, 123, 17);}

.md-button.btn-dark {
  color: #FAFAFA;
  background-color: rgb(139, 139, 139);
  font-size: 16px;
}
.md-button.btn-dark:not([disabled]):hover {
  background-color: rgb(59, 59, 59);
  color: white;
}
.md-button.btn-dark[disabled] {
  color: white;
  background-color: rgb(59, 59, 59);;
}

.content-wrapper {
  position: relative;
}
#primary-col {
  overflow: hidden;
}
edit {
  overflow:auto;
}
/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
