<style>

    #loginForm form{
        border-radius: 5px;
    }
    .fade.ng-hide-add.ng-hide-add-active         { animation:.5s fadeOut ease; }
    .fade.ng-hide-remove.ng-hide-remove-active      { animation:.5s fadeIn ease; }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* light speed out */
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            height:0px;

        }
    }
</style>
<div id="loginForm" flex layout="row" layout-align="center center" style="width: 100%;height: 100%;position: fixed;background-color:#FFAB40;">

    <form layout="row" class="md-whiteframe-z2" role="form" style="padding: 24px;background-color: white;">

        <ng-md-icon icon="headset" size="200"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48" height="48"><path d="M12 1c-4.97 0-9 4.03-9 9v7c0 1.66 1.34 3 3 3h3v-8H5v-2c0-3.87 3.13-7 7-7s7 3.13 7 7v2h-4v8h3c1.66 0 3-1.34 3-3v-7c0-4.97-4.03-9-9-9z"></path></svg></ng-md-icon>
        <!--<h2>Coastal Accounting</h2>-->

        <div layout="column">
            <md-input-container class="form-group md-default-theme">
                <label for="username">Username</label>
                <input ng-model="model.username" class="form-control" id="username" autofocus><br/>
            </md-input-container>
            <md-input-container class="form-group md-default-theme">
                <label for="password">Password</label>
                <input type="password" ng-model="model.password" class="form-control" id="password">
            </md-input-container>

        </div>
    <span layout="column" flex>
        <md-button flex type="submit" ng-click="login(model)" class="btn btn-default" style="height:100%">Log in</md-button>
        <md-button flex ng-click="googleSignin()" class="btn btn-default">Google</md-button>
    </span>

    </form>
</div>
