<style>
    .fade.ng-hide-add.ng-hide-add-active         { animation:.5s fadeOut ease; }
    .fade.ng-hide-remove.ng-hide-remove-active      { animation:.5s fadeIn ease; }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /* light speed out */
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
            height:0px;

        }
    }
</style>
<form role="form">
    <div class="form-group" style="display:inline-block">
        <label for="username">Username</label><br>
        <label for="password">Password</label>
    </div>
    <div class="form-group" style="display:inline-block">
        <input ng-model="model.username" class="form-control" id="username" placeholder="Enter username"
               autofocus><br/>
        <input type="password" ng-model="model.password" class="form-control" id="password"
               placeholder="Enter password">
    </div>
    <md-button type="submit" ng-click="login(model)" class="btn btn-default">Log in</md-button>
</form>
