<div class='layout-margin'>
    <md-button class="widgetEditButton" ng-click="form.addWidget($event, $index)">
        Add
    </md-button>
    <section ng-repeat="widget in contents.widgets | orderBy:'rank'">

    <span ng-if="widget.edit == true">
      <md-card>
          <span ng-init="widget.type = widget.type || contents.types[0]"> </span>
          <md-content layout-padding>
              <label ng-if="contents.types.length >= 2">Type</label>
              <select ng-if="contents.types.length >= 2" ng-model="widget.type" ng-selected="widget.type"
                      ng-options="type as type for type in contents.types"></select>
              <select ng-if="contents.types.length < 2" ng-model="widget.type" ng-selected="widget.type"
                      ng-options="type as type for type in contents.types" disabled></select>
              <widget type='field' contents='widget' index="{{ $index }}"/>
          </md-content>
          <div class="md-actions" layout="row" layout-align="center center">
              <md-button ng-click="form.cancel($index)">
                  Cancel
              </md-button>
              <md-button ng-click="form.save($index)">
                  Ok
              </md-button>
          </div>
      </md-card>
    </span>
        <style>
            .widgetEditButton {
                color: #aaa;
            }

            .widgetEditButton:hover {
                color: #ccc;
            }
        </style>
        <div ng-if="widget.edit != true">
            <section style="position:absolute;">
                <md-button class="widgetEditButton" ng-click="form.edit($index)">
                    Edit
                </md-button>
                <md-button class="widgetEditButton" ng-click="form.addWidget($index)">
                    Add
                </md-button>
                <md-button class="widgetEditButton" ng-click="form.moveDown($index)">
                    Up
                </md-button>
                <md-button class="widgetEditButton" ng-click="form.moveUp($index)">
                    Down
                </md-button>
                <md-button class="widgetEditButton" ng-click="form.remove(contents.widgets, $index)">
                    Remove
                </md-button>
            </section>
            <widget partial='/partials/{{ widget.type }}.html' type='field' contents='widget' index="{{ $index }}"/>
        </div>
    </section>
</div>